@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #252020de ;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.74),
        rgba(0, 0, 0, 0.865)
    ),
    url(background/hero_about.avif);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80%;
    color: #ddd;
    margin: 0;
    overflow-x: hidden;
}

/* menu */
.btn{
    background: none;
    width: 80px;
    height: 20px;
    color: white;
    border: 1px solid red;
}

/* fin menu */
.header{
   /* background-color: #111; */
    height: 100px;
}

.navbar{
    width: 100%;
    height: 100px;
    color: white;
    /* background-color: #343a40; */
    text-decoration: none;
}
.container__login{
     margin-left: 2rem;
     width: 300px;
     height: 50px;
     display: flex;
     /* justify-content: space-around; */
     /* align-items: center; */
     font-family: 'popins' , sans-serif;

}.akylia__login{
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.akylia__login p{
    font-size: 1.1rem;
    color: #540038;
}
.container__login .login{
    /* background: #ff3bbeaf; */
    color: #3876b4;
    /* padding: 10px 15px; */
    font-size: 1.2rem;
    font-family: monospace;
    transition: 0.3s;
} 
.container__login .register{
    /* background: #ff3bbeaf; */
    color: #1b74cd;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.2rem;
    font-family: monospace;
    transition: 0.3s;
}
.login:hover{
    text-decoration: none;
    /* color: #767d88; */
}
/* .register:hover{
    background-color: #990066;
} */
.container__link{
    width: 38%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container__link .link-nav{
    color: #767d88;
    text-decoration: none;
    font-size: 1.2rem ;
    font-weight: 600;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
}
.link-nav:hover{
    color: #47c276;
}
.container__link .inicio{
    color: #fff;
}


.logo-container,
.additional-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.logo-container img,
.additional-logo img {
    width: 60px;
    border-radius: 20%;
    height: auto;
    margin-right: 1.2rem;
}
.logo-container img{
    width: 80px;
    height: 80px;
    /* object-fit: contain; */
}
/* 
main {
    background-color: black;
} */



section#descripcionWeb{
    height: 100vh;
    width: 100%;
    margin: 0;
    /* padding: 20px; */
    /* background-image:linear-gradient(
        0deg,
        rgb(0,0,0,0.5),
        rgb(0,0,0,0.5)
    ) 
    ,url('background/background-description.jpeg'); */
    /* background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: transparent; */
    position: relative;
}

section#descripcionWeb h3 {
    color: #ff8c00;
    font-size: 4em;
    margin-bottom: 10px;
    text-shadow: 5px 2px 4px rgba(231, 231, 231, 0.281); 
    -webkit-text-fill-color: rgb(233, 124, 0); /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px rgb(94, 0, 0);font-family:'rubik';
    font-weight: 900;
}
  
    

section#descripcionWeb p {
    margin: 0;
    color: #ff3bbe;
    font-size: 1.4em;
    padding: 10px;
    font-weight: 500;
    text-shadow: 2px -1px 3px rgb(255, 0, 0);
    font-family: 'Kode Mono' ;
}

.join-now-text {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.5s ease;
    pointer-events: none;
}

.join-now-text:hover {
    background-color: #540038;
}

#copyIpContainer {
  
    background-color: #d71500;
    color: #fff;
    padding: 0.1px;
    margin-left: 10px;
   
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: calc(20px + 1.5rem + 30px);
    right: 20px;
    transition: background-color 0.5s ease;
}

#copyIpContainer:hover {
    background-color: #a70054;
}

#copyIpText {
    margin: 0;
    font-weight:bold ;
    font-size: 1px;

}

.copy-ip-container {
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

.copy-ip-container:hover {
    opacity: 1;
}



h2 {
    color: #ddd;
    margin-top: 0;
}

ul {
    padding-left: 2rem;
}

li {
    margin-bottom: 1rem;
}

section#novedades {
    /* margin-top: 2rem; */
    border-bottom: none;
    height: 200vh; 
    overflow: hidden; 
}

section#novedades h2 {

    text-align: center;
    color: #fff; 
    text-decoration: underline #990066; 
    margin-top: 3rem;
}

#novedades #latest-news {
    /* background-color: #14161B; */
    border: 2px solid #ffffff93;
    padding: 30px;
    border-radius: 0;
    box-shadow: 0 4px 8px rgb(116, 116, 116);
    background: transparent;
    backdrop-filter: blur(3px);
    margin-top: 2rem;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#novedades #latest-news h3 {
    color: #ddd;
    font-size: 2em;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
}

#novedades #latest-news p {
    color: #ddd;
    font-size: 1.2em;
    margin-bottom: 0;
    /* font-family: monospace; */
    font-family: Arial, sans-serif;
}

.vertical-announcement-article {
    display: flex;
    flex-direction: column;
    background-color: #14161B;
    border: 2px solid #14161B;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    /* font-family: monospace; */
}

.article-border {
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.article-header {
    flex-basis: 100%;
    margin-bottom: 20px;
}

.vertical-announcement-article .article-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.vertical-announcement-article .article-header img {
    width: 50%;
    height: auto;
}

.article-content {
    margin-left: 0;
}

.article-date {
    color: #cc3399;
    margin-bottom: 5px;
}

.article-title {
    color: #ddd;
    font-size: 1.8em;
    margin-bottom: 10px;
}

.article-description {
    color: #ddd;
    font-size: 1.2em;
    margin-bottom: 0;
}
#about-us{
    /* background: #252020de ;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.817),
        rgba(0, 0, 0, 0.819)
    ),
    url(background/hero_about.avif); */
    /* background-position: center;
    background-size: cover; */
    /* background-attachment: fixed; */
    background: transparent;
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
text-align: center;
justify-content: center;
/* border: 2px inset rgba(255, 255, 255, 0.308);
box-shadow: rgba(173, 173, 173, 0.653) 3px 5px; */
width: 100%;
height: 100vh;
}
.text__about{
   
    width: 80%;
    height: auto;
    margin: 6rem auto;
}

#about-us h2{
    display: inline-block;
    color: #cc3399;
    text-transform: uppercase;
    /* border-bottom: 2px solid #540038; */
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 3rem;
    /* text-shadow: 2px -1px 3px rgba(255, 255, 255, 0.691); */
    font-family: 'Kode Mono' ;


}
#about-us p{
    font-family:'Titillium Web'
    'Static' ;
    font-family: monospace;
    font-weight: 500;
    font-size: 1.5rem;
    color: #cdcdcd;
    text-align: justify;
    /* text-shadow: -1px -1px 1px #ff0000;  */
}
.text__about .minecarft{
    color: #47c276;
    font-size: 2rem;
}
.text__about .moddeados{
    color: red;
}
/* footer */
footer {
    background-color: #111;
    color: #ddd;
    padding: 20px;
    text-align: center;
    position: relative;
    /* border-top: 2px solid #333; */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 80px;
    height: auto;
}

.footer-logo .tiktok-logo img {
    filter: invert(100%);
}

.footer-links a {
    color: #888;
    text-decoration: none;
    margin: 0 10px;
    flex-basis: calc(25% - 10px);
    transition: color 0.5s ease;
}

.footer-links a:hover {
    color: #fff;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links img {
    width: 28px;
    height: auto;
    cursor: pointer;
    margin-right: 30px;
    fill: #ddd;
    transition: fill 0.5s ease, transform 0.5s ease;
}

.social-links img:hover {
    fill: #fff;
    transform: scale(1.2);
}

.separator-line {
    border-top: 2px solid #333;
    margin-top: 30px;
}

.credits {
    margin-top: 20px;
    color: #666;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

.credits:before {
    content: "";
    display: block;
    /* border-top: 2px solid #333; */
    margin-top: 20px;
}
