*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color:#111 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* HEADER - ENCABEZADO*/
.header{
    width: 100%;
    height: 8rem;
    /* border-bottom: 1px solid #333; */
    display: flex;
    justify-content: space-between;
   
   
}
.header img{
    height: 6.8rem;
    width: 6.8rem;
    margin-left: 3rem;
    margin-top: 0.5rem;
}
.header .nav{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.header .nav .link-nav{
    color: #888;
    font-size: 1.25rem;text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    padding:  0.625rem 0.938rem;
    margin-bottom: 2rem;
} 

/* HOVER LINK */
.header .nav .link-nav:hover{
    color: #198754;
}
/* FIN HEADER - ENCABEZADO */

/* INICIO SECTION, HERO-SUPPORT */
.hero-support{
width: 100%;
height: 15.625rem; /* 250PX*/
background-image: linear-gradient(
    0deg,
    rgb(0,0,0,0.5),
    rgb(0,0,0,0.5)
)
,url(../background/background-description.jpeg);
background-attachment: fixed;
display: flex;
justify-content: center;
align-items: center;
}
.hero-support h1{
   color: #ddd;
   font-size: 4rem;
   font-weight: bold;
   text-transform: uppercase;
}
/* INICIO SECTION PREGUNTAS FRECUENTES - SUPPORT TICKET */
.section-container{
    width: 100%;
    height: 650px;
}
.conatiner-center-general{
    width: 90%;
    height: 650px;
    margin: 0 auto;
    display: flex;
}
/* article preguntas-frecuentes */
.preguntas-frecuentes{
width: 50%;
height: 650px;
color: #ffffff;
background-color: rgba(0, 0, 0, .03);
}
.h2{
    display: inline-block;
    margin-top: 2rem;
    border-bottom: 1px solid rgb(127, 255, 212);
}
.card-container{
 margin-top: 1.25rem;
}
.card-header{
    margin-left: 1rem; 
    margin-bottom: 0.8rem;
}
.card-body p{
    color:#767d88 ;
} .card-body span{
    color: rgb(127, 255, 212);
}
.card-list ul li{
 margin-top: 0.8rem;
 list-style: none;
}
.card-list ul li a{
    text-decoration: none;
    color: #ffffff;
    padding-bottom: 10px;
}
/* .show{
    display: none;
} */

/* FIN article preguntas-frecuentes */
/* INICIO article soporte-tickets */
.soporte-tickets{
width: 50%;
height: 650px;
color: #ffffff;
}
.container-tickets{
    width: 90%;
    margin: 2rem auto;
}
.container-tickets h2{
    display: inline-block;
    border-bottom: 1px solid rgb(127, 255, 212);
}
.container-tickets p{
 color:#767d88;
 
} 
.soporte__discord{
    width: 100%;
    height: 10vh;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.soporte__discord a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    background-color: rgba(127, 255, 212, 0.636);
    width: 80%;
   height: 3rem;
   transition: background-color 0.3s ease;
}
.soporte__discord a:hover{

    background-color: rgba(127, 255, 212, 0.427);
}
/* FIN article soporte-tickets */
/* FIN SECTION PREGUNTAS FRECUENTES - SUPPORT TICKET */

/* REDES SOCIALES  */
.redes-sociales{
    width: 55px;
    height: 184px;
    background-color: #111111b3;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 2;
}.redes-sociales  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 55px;
    height: 184px;
}
.redes-sociales li{
    width: 55px;
    height: 46px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.redes-sociales img:hover{
    color: #ddd;
}
.redes-sociales img{
    height: 20px;
    width: 16px;
}

/* FOOTER  */


footer {
    background-color: #111;
    color: #ddd;
    padding: 1.25rem;
    text-align: center;
    position: relative;
    border-top: 2px solid  #333;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo img {
    width: 5rem;
    height: auto;
}

.footer-links a {
    color: #888;
    text-decoration: none;
    margin: 0 0.625rem;
    flex-basis: calc(25% - 10px);
    transition: color 0.5s ease;
}

.footer-links a:hover {
    color: #fff;
}

.social-links {
    display: flex;
    align-items: center;
}

.social-links img {
    width: 1.75rem;
    height: auto;
    cursor: pointer;
    margin-right: 1.875rem;
    fill: #ddd;
    transition: fill 0.5s ease, transform 0.5s ease;
}

.social-links img:hover {
    fill: #fff;
    transform: scale(1.2);
}


.credits {
    margin-top: 1.25rem;
    color: #666;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
}

.credits:before {
    content: "";
    display: block;
    margin-top: 1.25rem;
}
.respuesta-container p{
    color:#767d88 ;
} .respuesta-container span{
    color: rgb(127, 255, 212);
}